.chat

  .chat__side_bar

    .chat__side_bar__user_info
      %p 
        = current_user.name
      .chat__side_bar__user_info__icons__icon__edit
        = link_to edit_user_registration_path(current_user) do
          %i.fa.fa-cog.fa-lg
      .chat__side_bar__user_info__icons__icon__edit
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.fa-lg
    %ul.chat__side_bar__groups
      = render 'group', collection: @groups

  .chat__main

    .chat__main__header
      %ul.chat__main__header__group_info
        %li.chat__main__header__group_info__group_name 
          = @group.name
        %li.chat__main__header__group_info__group_member
          メンバー:
          - @group.users.each do |user|
            = user.name
      = link_to 'Edit', edit_group_path(@group), class: 'chat__main__header__edit_button'
      
    .chat__main__body
      %ul.chat__main__body__chat
        %li.chat__main__body__chat__user_name user_name
        %li.chat__main__body__chat__time_stamp timestamp
        %li.chat__main__body__chat__message message

    .chat__main__footer
      .chat__main__footer__type_message
        %p type messages
        %a.chat__main__footer__type_message__icon{ :href => '' }
          %i.fa.fa-picture-o
      .chat__main__footer__send_button send
      